body * {
  padding: 0;
  margin: 0;
}
body canvas {
  background: #eee;
  display: block;
  margin: 5% auto;
  width: 1000px;
  height: 30%;
  border: 3px solid #acc;
}
body .start-button {
  width: 30%;
  background: white;
  border: solid 4px #ccc;
  text-align: center;
  padding: 3% 0;
  font-size: 35px;
  margin: auto;
  margin-top: -24%;
  position: relative;
}
body .start-button div {
  color: #099;
  font-weight: 900;
}
body .start-button:hover {
  border-color: #099;
}
body .start-button:hover div {
  cursor: pointer;
  color: #0bb;
}
body .button-row {
  width: 9%;
  margin: 15% auto;
  position: relative;
}
body button {
  height: 75px;
  width: 75px;
  background-color: #099;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: large;
  font-family: sans-serif;
  font-weight: 700;
  border: 2px solid #999;
  cursor: pointer;
}
body button:disabled {
  cursor: auto;
  background-color: #999;
  color: #eee;
}
body img {
  height: 60px;
  vertical-align: middle;
}