@background-grey: #ddd;
@block-grey: #999;
@ball-turquoise: #099;
@border-turquoise: #acc;
@active-button-turquoise: #477;


body {
	* {
		padding: 0;
		margin: 0;
	}

	canvas {
		background: @background-grey;
		display: block;
		margin: 5% auto;
		width: 1000px;
		height: 30%;
		border: 3px solid @border-turquoise;
		cursor: pointer;
	}

	.difficulty-buttons {
		margin-top: -450px;
		margin-left: 150px;
	}

	.button {
		width: 10%;
		height: 30px;
		border: 3px solid @block-grey;
		background: @ball-turquoise;
		color: white;
		font-weight: 600;
		text-align: center;
		padding: 5px;
		padding-top: 20px;
		margin: 20px;
		cursor: pointer;
	}

	.button:hover {
		a {
			border-bottom: solid 2px white;
		}
	}

	.button.active {
		background: @active-button-turquoise;
	}
}
